# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/

# Env files
.env
.env.*

# Coverage / reports
coverage/
*.lcov
